/*ESTILOS GENERALES*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'montserrat', sans-serif;
    background-color: #f0f0f0;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

#header{
    width: 100%;
    height: 9vh;
    background-color: #f0f0f030;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    padding: 0% 9%;
    position: fixed;
    z-index: 2;
    align-items: center;
}

.header__title{
    font-size: 30px;
    font-weight: 600;
    background: #6965F2;
    background: -webkit-linear-gradient(120deg, rgba(105, 101, 242, 1) 0%, rgba(135, 94, 246, 1) 100%);
    background: -moz-linear-gradient(120deg, rgba(105, 101, 242, 1) 0%, rgba(135, 94, 246, 1) 100%);
    background: linear-gradient(120deg, rgba(105, 101, 242, 1) 0%, rgba(135, 94, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6965F2", endColorstr="#875EF6", GradientType=0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav__list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3em;
}

.nav__list li a{
    text-decoration: none;
    text-wrap: nowrap;
    color: #000;
    padding: .2em 0em;
    font-size: 1em;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.nav__list li a:hover{
    color: #6965F2;
    border-bottom : 3px solid #6965F2;
}


/*INICIO*/

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#hero{
    width: 100%;
    height: 100vh;
    scroll-margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/bg-hero.jpeg);
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 92%, 52% 100%, 0 92%, 0 0);
    background-size: cover;
    background-position: center;
}

.hero__title{
    font-size:4em;
    text-align: center;
    font-weight: 800;
    color: #1e293b;
}

.t1{
    background: #6965F2;
    z-index: 2;
    background: -webkit-linear-gradient(120deg, rgba(105, 101, 242, 1) 50%, rgba(135, 94, 246, 1) 100%);
    background: -moz-linear-gradient(120deg, rgba(105, 101, 242, 1) 50%, rgba(135, 94, 246, 1) 100%);
    background: linear-gradient(120deg, rgba(105, 101, 242, 1) 50%, rgba(135, 94, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6965F2", endColorstr="#875EF6", GradientType=0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__desc{
    font-size: 1.5em;
    width: 60%;
    text-align: center;
    font-weight: 5x00;
    color: #000;
    margin-top: 1em;
}

.contain__btn{
    display: flex;
    gap: 3em;
}

.hero__btn{
    background-color: #6965F2;
    color: #fff;
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2em;
    transition: all 0.3s ease-in-out;
}

.btn2{
    background: transparent;
    color: #6965F2;
    border: #6965F2 solid 2px;
}

.hero__btn:hover{
    background-color: #8457ff;
    transform: scale(1.05);
}

.btn2:hover{
    background-color: #8457ff;
    border: #8457ff solid 2px;
    color: #fff;
    transform: scale(1.05);
}

.arrow-down{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    animation: bounce 3s infinite;
}

.hero__scroll{
    position: absolute;
    font-size: 1.2em;
    font-weight: 600;
    bottom: 10px;
    color: #6965F2;
}

/*CARACTERISTICAS*/

#caracteristicas{
    scroll-margin-top: 10vh;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em 0em;
}

#caracteristicas h1{
    font-size: 3em;
    position: relative;
    font-weight: 800;
    color:#1e293b;
    border-radius: 4px;
}

#caracteristicas h1::after{
    content: '';
    position: absolute;
    width:  60%;
    border-radius: 15%;
    height: 5px;
    background-color: #6965F2;
    bottom: -10%;
    left: 20%;
}

#caracteristicas h3{
    font-size: 1.3em;
    text-align: center;
    font-weight: 500;
    color: #64748b;
    margin-top: 1em;
}

.caracteristicas__container{
    display:grid;
    margin-top: 2em;
    grid-row: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    width: 80%;
    height: 100%;
}

.card{
    width: 100%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 0em 3em;
    transition: all 0.3s ease-in-out;
}

.card img{
    width: 75px;
    background-color: #f2eefe;
    padding: 15px;
    border-radius: 50%;
}

.card h2{
    font-size: 1.5em;
    font-weight: 700;
    color:#1e293b;
}

.card p{
    font-size: 1.2em;
    font-weight: 500;
    color: #64748b;
    text-align: center;
}

.card:hover{
    transform: translateY(-30px);
    
}

/*ACERCA DE*/

#sobre-nosotros{
    scroll-margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    justify-items: center;

    width: 80%;
    height: 100vh;
    padding: 5em 0em;
    align-items: center;
    justify-content: center;
}

.acerca-de{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5em;
}

.acerca-de h1{
    font-size: 3em;
    position: relative;
    font-weight: 800;
    color:#1e293b;
    text-align: center;
    border-radius: 4px;
}

.acerca-de h1::after{
    content: '';
    position: absolute;
    width:  60%;
    border-radius: 15%;
    height: 5px;
    background-color: #6965F2;
    bottom: -10%;
    left: 20%;
}

.acerca-de p{
    font-size: 1.2em;
    font-weight: 500;
    color: #64748b;
    text-align:unset;
    width: 80%;
}

.acerca-de__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2em;
    width: 100%;
    justify-items: start;
}

.acerca-de__grid h2{
    background: #6965F2;
    font-size: 3em;
    background: -webkit-linear-gradient(120deg, rgba(105, 101, 242, 1) 50%, rgba(135, 94, 246, 1) 100%);
    background: -moz-linear-gradient(120deg, rgba(105, 101, 242, 1) 50%, rgba(135, 94, 246, 1) 100%);
    background: linear-gradient(120deg, rgba(105, 101, 242, 1) 50%, rgba(135, 94, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6965F2", endColorstr="#875EF6", GradientType=0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.acerca-de__grid p{
    font-size: 1.2em;
    font-weight: 500;
    color: #64748b;
    text-align: unset;
}

.acerca-de2{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6965F2;
    width: 100%;
    height: 80%;   
    background: -webkit-linear-gradient(120deg, rgba(105, 101, 242, 1) 50%, rgba(135, 94, 246, 1) 100%);
    background: -moz-linear-gradient(120deg, rgba(105, 101, 242, 1) 50%, rgba(135, 94, 246, 1) 100%);
    background: linear-gradient(120deg, rgba(105, 101, 242, 1) 50%, rgba(135, 94, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6965F2", endColorstr="#875EF6", GradientType=0);
    border-radius: 20px;
}

/*CONTACTO*/

#contacto{
    scroll-margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
}

#contacto h1{
    font-size: 3em;
    position: relative;
    font-weight: 800;
    color:#1e293b;
    text-align: center;
    border-radius: 4px;
}

#contacto h1::after{
    content: '';
    position: absolute;
    width:  60%;
    border-radius: 15%;
    height: 5px;
    background-color: #6965F2;
    bottom: -10%;
    left: 20%;
}

#contacto p{
    font-size: 1.3em;
    text-align: center;
    font-weight: 500;
    color: #64748b;
    margin-top: 1em;
}

.container__contacto{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    margin-top: -3em;

}

.contacto--cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 45%;
    height: 80%;
    gap: 3em;
}

.contacto--card{
    width: 100%;
    height: 25%;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 25px 15px -26px rgba(66, 68, 90, 0.617);
    -moz-box-shadow: 0px 25px 15px -26px rgba(66, 68, 90, 0.617);
    box-shadow: 0px 25px 15px -26px rgba(66, 68, 90, 0.617);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0em 3em;
    transition: all 0.3s ease-in-out;
}

.contacto--card:hover{
    transform: translateY(-10px);
}

.contacto--card h3{
    font-size: 1.5em;
    font-weight: 700;
    background: #6965F2;
    background: -webkit-linear-gradient(120deg, rgba(105, 101, 242, 1) 50%, rgba(135, 94, 246, 1) 100%);
    background: -moz-linear-gradient(120deg, rgba(105, 101, 242, 1) 50%, rgba(135, 94, 246, 1) 100%);
    background: linear-gradient(120deg, rgba(105, 101, 242, 1) 50%, rgba(135, 94, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6965F2", endColorstr="#875EF6", GradientType=0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contacto--card p{
    font-size: 1em;
    font-weight: 500;
    color: #64748b;
    text-align: unset;
}

.form-contacto{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 25px 15px -26px rgba(66, 68, 90, 0.617);
    -moz-box-shadow: 0px 25px 15px -26px rgba(66, 68, 90, 0.617);
    box-shadow: 0px 25px 15px -26px rgba(66, 68, 90, 0.617);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
}

.form-contacto form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2em 2em;
    border-radius: 10px;
    gap: 1em;
    box-shadow: 0 2px 15px rgba(0,0,0,0.05);
}

.form-group {
    margin-top: 1em;
    width: 80% ;
    }

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #dce1e7;
    border-radius: 8px;
    font-size: 1em;
    resize: none;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

textarea::placeholder{
    font-size: 1em;
    color: #999;
}

.btn-submit {
    background: linear-gradient(135deg, #7f5af0, #7950f2);
    color: white;
    border: none;
    border-radius: 3em;
    font-size: 1.3em;
    padding: 0.5em 2em;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(127, 90, 240, 0.3);
    transition: transform 0.2s ease;
}

.btn-submit:hover {
    transform: scale(1.03);
}

/*FOOTER*/

#footer{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: .2em;
    justify-content: center;
    align-items: center;
    background-color: #6965F2;
}

#footer h1{
    font-size: 3em;
    position: relative;
    font-weight: 800;
    color:#fff;
    text-align: center;
    border-radius: 4px;
}

#footer p{
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
    color: #fff;
    margin-top: 1em;
}

.container__logos{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 3em;
}

.container__logos img{
    width: 50px;
}

/* Media query: tablets */
@media ( 800px <= width <= 1200px) {
    .nav__list li a{
        font-size: 1rem;
    }
    .caracteristicas__container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        width: 90%;
    }
    .card h2{
        text-align: center;
    }
    #contacto{
        height: 190vh;
    }
    .container__contacto{
        flex-direction: column;
    }
    .contacto--cards{
        width: 100%;
        height: 50%;
        gap: 2em;
    }
    .form-contacto{
        width: 100%;
        height: 50%;
    }
    .form-contacto form{
        width: 100%;
        height: 100%;
    }
    
}

/*Media query: móviles */
@media (300px <= width <= 800px) {
    .nav__list li a {
        display: none;
    }
    .hero__title{
        font-size: 2.5em;
    }
    .hero__desc{
        font-size: 1.2em;
        width: 80%;
    }
    .hero__btn{
        font-size: 1em;
        padding: 0.5em 1em;
    }
    .btn2{
        font-size: 1em;
        padding: 0.5em 1em;
    }
    .hero__scroll{
        font-size: 1em;
    }
    .arrow-down{
        width: 30px;
        height: 30px;
    }
    .caracteristicas__container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
    #caracteristicas{
        height: auto;
    }
    #caracteristicas h1{
        font-size: 2.5em;
        text-align: center;
    }
    #caracteristicas h3{
        font-size: 1.2em;
        text-align: center;
    }
    .card{
        width: 100%;
        height: 100%;
        padding: 2em 1em;
    }
    .card h2{
        text-align: center;
    }
    .card p{
        font-size: 1em;
        text-align: center;
    }
    #sobre-nosotros{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .acerca-de{
        width: 100%;
        height: auto;
        gap: 2em;
    }
    .acerca-de h1{
        font-size: 2.5em;
        text-align: center;
        width: 100%;
    }
    .acerca-de p{
        font-size: 1.2em;
        text-align: center;
        width: 100%;
    }
    .acerca-de2{
        display: none;
    }
    .acerca-de__card{
        width: 100%;
        height: auto;
    }
    .acerca-de__grid h2{
        font-size: 2em;
        text-align: center;
    }
    
    .acerca-de__grid p{
        font-size: 1em;
        text-align: center;
    }
    #contacto{
        height: auto;
        gap: 4em;
    }
    .container__contacto{
        flex-direction: column;
        gap: 2em;
    }

    .contacto--cards{
        width: 100%;
        height: 50%;
        gap: 2em;
        margin-top: 2em;
    }
    .contacto--card{
        width: 100%;
        height: 100%;
        padding: 2em 1em;
    }
    .form-contacto{
        width: 100%;
        height: 50%;
        margin-bottom: 2em;
    }
    .form-contacto form{
        width: 100%;
        height: 100%;
        padding: 2em 1em;
    }

    .btn-submit {
        font-size: 1em;
        padding: 0.5em 1em;
    }

    #footer{
        height: 40vh;
        justify-content: space-evenly;
    }
    #footer h1{
        font-size: 2.5em;
    }
    #footer p{
        font-size: 1.2em;
    }
    .container__logos{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .container__logos img{
        width: 40px;
    }
}
